{% extends 'base.html' %}
{% load static %}
{% block title %}About page {% endblock %}
{% block root %}
<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-about relative">
      <!-- .close -->
      <a href="../../theme" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title text-center">
              <h2>About <span class="primary">me</span> <span class="title-bg">Name</span></h2>
              <p>I have been working as a python backend developer since 2022. Worked in more than 10 live projects and
                also with different clients! I like to challenge myself, pick up new knowledge and also good experience.Thus I am ready to help you with your matters !</p>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="about-author">
              <figure class="author-thumb">
                <img src="../../static/images/aba_photo.jpg" alt="">
              </figure> <!-- /.author-bio -->
              <div class="author-desc">
                <p><b>Date of birth:</b> 21th september, 2001</p>
                <p><b>Language:</b> Uzbek, English</p>
                <p><b>Expert in:</b> Web development</p>
                <p><b>Team:</b> Available</p>
                <p><b>Experience:</b> 1+ year</p>
              </div>
              <!-- /.author-desc -->
            </div> <!-- /.about-author -->
            <p> I am an experienced  data analyst with a huge interest in projects that require both creative and
                analytical thinking. And also I am a python backend developer who is proficient in both Django framework
                and Django REST framework. My passion lies in learning about the latest
                technologies and up-to-date informations about IT. By the way I have 1+ years of experience in this field.</p>
          </div> <!-- /.col -->

          <div class="col-xs-12 col-md-6">
            <div class="section-title clear">
              <h3>Skills</h3>
            </div>
              {% for skill in skills %}
            <div class="skill-wrapper">
              <div class="progress clear">
                <div class="skill-name">{{ skill.name }}</div>
{#                <div class="skill-bar">#}
{#                  <div class="bar"></div>#}
{#                </div>#}
                <div class="skill-lavel" data-skill-value=""></div>
              </div> <!-- /.progress -->
            </div> <!-- /.skill-wrapper -->
            {% endfor %}
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->

      <nav class="page-nav clear">
  <div class="container">
    <div class="flex flex-middle space-between">
      <span class="prev-page"><a href="{% url 'welcome' %}" class="link">&larr; Prev Page</a></span>
      <span class="next-page"><a href="{% url 'services' %}" class="link">Next Page &rarr;</a></span>
    </div>
  </div>
  <!-- /.page-nav -->
</nav>
      <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->
{% endblock %}

