{% extends 'base.html' %}
{% load static %}
{% block title %}About page {% endblock %}
{% block root %}
<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-about relative">
      <!-- .close -->
      <a href="../../theme" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title text-center">
              <h2>About <span class="primary">me</span> <span class="title-bg">Name</span></h2>
              <p>Born on September 21, 2001, in the Yangikurgan, Fergana region. Graduated from the High School of mathematics and physics, did well in school so in 3rd year in Ferghana State University. Also successfully picked up programming skills and passion lies in learning about the latest technologies and up-to-date information about IT. </p>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="about-author">
              <figure class="author-thumb">
                <img src="../../static/images/aba_photo.jpg" alt="">
              </figure> <!-- /.author-bio -->
              <div class="author-desc">
                <p><b>Date of birth:</b> September 21, 2001</p>
                <p><b>Language:</b> Uzbek, English</p>
                <p><b>Expert in:</b> Web development</p>
                <p><b>Team:</b> Available</p>
                <p><b>Experience:</b> 1+ year</p>
              </div>
              <!-- /.author-desc -->
            </div> <!-- /.about-author -->
            <p>Motivated and fast-learning django backend developer looking for an impactful role.
                As someone who was initially a self-taught programmer, I’ve always found ways to use programming to improve my work
                and have successfully done so in previous roles, primarily around automating daily operations and reporting.
                I’ve since joined a program to improve my programming skills and have decided to pursue django backend developer on a full-time basis.</p>
          </div> <!-- /.col -->

          <div class="col-xs-12 col-md-6">
            <div class="section-title clear">
              <h3>Skills</h3>
            </div>
            <div class="skill-wrapper">
              {% for skill in skills %}
              <div class="progress clear">
                <div class="skill-name">{{ skill.name }}</div>
              </div> <!-- /.progress -->
                  {% empty %}
                  <h4>no news yet</h4>
            {% endfor %}
            </div> <!-- /.skill-wrapper -->
          </div> <!-- /.col -->
      </div> <!-- /.container -->

      <nav class="page-nav clear">
  <div class="container">
    <div class="flex flex-middle space-between">
      <span class="prev-page"><a href="{% url 'welcome' %}" class="link">&larr; Prev Page</a></span>
      <span class="next-page"><a href="{% url 'services' %}" class="link">Next Page &rarr;</a></span>
    </div>
  </div>
  <!-- /.page-nav -->
</nav>
      <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->
{% endblock %}

