{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome page {% endblock %}
{% block root %}
<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-welcome relative">
      <!-- .close -->
      <a href="" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="author-image-large">
        <img src="../../static/images/sticker.webp" alt="">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-7">
            <div class="page-title">
              <h2>Abbos <span class="primary">Rasulov</span> <span class="title-bg">About</span></h2>
                <h3>About myself:</h3>
              <p> I am an experienced  data analyst from Uzbekistan with a huge interest in projects that require both creative and analytical thinking. And also I am a python backend developer who is proficient in both Django framework and Django REST framework. My passion lies in learning about the latest technologies and up-to-date informations about IT. By the way I have 1+ years of experience in this field .</p>
                <h3>Career summary :</h3>
              <p>Motivated and fast-learning Data Scientist looking for an impactful role. As someone who was initially a self-taught programmer, I’ve always found ways to use programming to improve my work and have successfully done so in previous roles, primarily around automating daily operations and reporting. I’ve since joined a program to improve my programming skillset and have decided to pursue Data Scientist on a full-time basis.</p>
            </div>
          </div>
        </div> <!-- /.row -->
      </div> <!-- /.container -->

      <nav class="page-nav clear">
  <div class="container">
    <div class="flex flex-middle space-between">
      <span class="prev-page"><a href="{% url 'index' %}" class="link">&larr; Prev Page</a></span>
      <span class="next-page"><a href="{% url 'about' %}" class="link">Next Page &rarr;</a></span>
    </div>
  </div>
  <!-- /.page-nav -->
</nav>
      <!-- /.container -->

    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->

{% endblock %}